
html {
    height: 100%;
}
body {
    height: 100%;
    background-color: #E3E3E3;
    overflow:hidden;
}
h1 {
    font-weight: bolder;
}
.fade-in {
    animation-name: fadein;
    animation-delay:0.3s;
    animation-duration: 1.3s;
    animation-fill-mode: forwards;
}
h3{
    animation-delay:1s!important;
    font-weight:200;
}
a{
  animation-delay:1.5s!important;
}
@keyframes fadein {
    from {opacity:0;}
    to {opacity:1;}
}
@keyframes moveaway {
    0% {
        top: 50%;
        opacity:1;
    }
    100% {
        top: -50%;
        opacity:0;
    }
}
.page {
  position: absolute;
  background-color: #E3E3E3;
  top:  50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin-right: -50%;
}
.page-1 {
  animation-name: moveaway;
  animation-duration:1.5s;
  animation-timing-function:ease-in-out;
  animation-delay:4s;
  animation-fill-mode:forwards;
}
.page-2 {
  opacity:0;
  animation: fadein 1.3s ease-in-out 5s 1 normal forwards, moveaway 1.5s ease-in-out 7s normal forwards;
}
.page-3 {
  opacity:0;
  animation-name: fadein;
  animation-delay: 7.7s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
.card {
  text-align:initial;
}
